body {
    background-color: seagreen;
}

* {
    box-sizing: border-box;
}

h1, h2, h3 {
    text-align: center;
}

h2 {
    text-align: center;
    color: aqua;
    text-align: center;
    font-weight: bold; /* или 100-900 свойство зависит от используемого шрифта */
    font-style: italic;
    text-decoration: underline;/* или line-throught */
    font-size: 30px;
}

.chapter {
    color: rgb(35, 180, 196)
    /* font-weight: 900; */
}

#begin {
    color: orchid
}

.text {
    text-transform: uppercase;
}

.box {
    box-sizing: border-box;/*если устанавливаем полный размер либо conten-box */
    vertical-align: middle;
    display: inline-block;
    width: 300px;
    height: 300px;
    background-color:blueviolet;
    padding: 20px 30px 40px 50px;
   /*  border: 3px;
    border-style: solid;
    border-color: black; */
    border: 3px solid black;
    margin: 20px;
}

.red { 
    /* width: 40%;  процент от ширины РОДИТЕЛЬСКОГО ЭЛЕМЕНТА*/
    /* height: 50em;  от высоты шрифта, такое практич не использ*/
    width: 300px;
    height: 300px;
    /* font-size: 30px;  размер шрифта*/
    background-color:rgb(180, 21, 21);
    padding: 20px 30px 40px 50px;
    display: inline-block;
    border: 3px solid black;
    margin: 20px; 
    vertical-align: middle;
    
}

.pink {
    color:pink
}

img {
    display: block;
    margin: 0 auto;
    width: 500px;
    /* float: right; */ /* обтекание */
    }